
document.querySelectorAll('.contact-form-text-area').forEach((inputField) => {
  inputField.value = ""
});

document.getElementById('flash-message').innerHTML = "<div class='alert alert-warning alert-dismissible fade show' role='alert'><strong>Message bien reçu !</strong> Je vous recontacte au plus vite. A bientot. Luna.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
