.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar {
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar .navbar-brand img {
  width: 40px;
}


.navbar .navbar-brand h2{
  margin-bottom:0px;
  margin-left: 3px;
}
